extends _layout
block append head
	meta(name="description" content="")
	meta(name="keywords" content="")
	title Страница каталога
	- modalProduct = true;
block content
	.container
		.row
			.col-sm-12.col-xs-12
				// хлебные крошки
				include includes/components/_breadcrumbs
				// конец хлебные крошки
		.row
			.col-sm-3
				// фильтр
				.filter__sidebar
					p.subtitle Фильтр
					.form-group
						label.form-label Обивка
						.form-pseudo-select-block.js-material-input
							span.form-pseudo-select-material-wrap
							input.form-control.form-pseudo-select.md-trigger(type="text" placeholder="Выбрать" required readonly data-modal="modal-material")
					.form-group
						label.form-label Каркас
						.form-pseudo-select-block.js-frame-input
							span.form-pseudo-select-material-wrap.dashed
							input.form-control.form-pseudo-select.dashed.md-trigger(type="text" placeholder="Выбрать" required readonly data-modal="modal-frame")
					.form-group
						label.form-label Цена
						.filter__price-range-block.js-range-parent
							input.filter__price-range-block-input.js-only-numbers(type="text" range-min value="2000 ₴" maxlength="5")
							input.filter__price-range-block-input.js-only-numbers(type="text" range-max value="6000 ₴" maxlength="5")
							.filter__price-range.js-range
					br
					.form-group
						input.form-checkbox#in-stock(type="checkbox")
						label.form-checkbox-label.custom-img(for="in-stock") Есть на складе
				// конец фильтр
				// каталог меню сайтбара
				.sidebar__menu.m-b-30
					- for (i=1; i<=3; i++) {
						p.subtitle Офисная мебль
						ul.sidebar__menu-list
							li.sidebar__menu-list-item
								span.sidebar__menu-list-link(class="#{(i==1) ? 'current' : '' }") Кабинеты руководителя
							li.sidebar__menu-list-item
								a.sidebar__menu-list-link(href="#!") Конференц столы
							li.sidebar__menu-list-item
								a.sidebar__menu-list-link(href="#!") Оперативная мебель
							li.sidebar__menu-list-item
								a.sidebar__menu-list-link(href="#!") Столы для офиса 
							li.sidebar__menu-list-item
								a.sidebar__menu-list-link(href="#!") Аксессуары для офиса
							li.sidebar__menu-list-item
								a.sidebar__menu-list-link(href="#!") Опоры для офисных столов
					-}
				// конец каталог меню сайтбара
				// теги
				.sidebar__tags-section
					p.subtitle Теги
					.sidebar__tags-block
						- for (i=1; i<=5; i++) {
							.sidebar__tags-row
								span.sidebar__tags-link.current Тип
								a.sidebar__tags-link(href="#!") Мебель
								a.sidebar__tags-link(href="#!") Офисная
							.sidebar__tags-row
								span.sidebar__tags-link.current Стоимость
								a.sidebar__tags-link(href="#!") До 5000 грн.
						- }
					a.sidebar__tags-block-trigger.js-tag-slide(href="javascript:void(0)") Развернуть
				// конец теги
			.col-sm-9
				// фильтр
				.filter__block
					.filter__block-result
						p.filter__block-text Всего
						span.filter__block-count 23 товара
					.filter__block-sorting
						p.filter__block-text Показать
						span.filter__block-sorting-current.js-drop-trigger Без фильтра
						.filter__block-sorting-list.js-drop-target
							span.filter__block-sorting-val.js-drop-val Новые
							span.filter__block-sorting-val.js-drop-val Старые
							span.filter__block-sorting-val.js-drop-val Цена по возрастанию
							span.filter__block-sorting-val.js-drop-val Цена по убыванию
				// конец фильтра
				// каталог товаров
				.product-section.filter-edit
					- for (i=1; i<=6; i++) {
						.product-section__block
							a.product-section__block-link(href="#!")
								.product-section__block-img-wrap
									img.product-section__block-img(src="img/content/img#{i%2 ? 1 : 2}.jpg", alt="product")
								.product-section__block-description
									p.product-section__block-name Cody black
									.product-section__block-price
										span.product-section__block-price-old.js-replace-number #{i*10521}
										span.product-section__block-price-current.js-replace-number #{i*5521} ₴
									- if (i == 1) {
										p.product-section__block-status.in-have в наличии
									- } else if (i == 2) {
										p.product-section__block-status.waiting ожидается
									- } else {
										p.product-section__block-status.in-product под заказ
									- }
					-}
					- for (i=1; i<=4; i++) {
						.product-section__block.x-2
							a.product-section__block-link(href="#!")
								.product-section__block-img-wrap
									img.product-section__block-img(src="img/content/img-large.png", alt="product")
								.product-section__block-description
									p.product-section__block-name Cody black
									.product-section__block-price
										span.product-section__block-price-old.js-replace-number #{i*10521}
										span.product-section__block-price-current.js-replace-number #{i*5521} ₴
									p.product-section__block-status.in-have в наличии
								.product-section__block-badge
									div
										span.product-section__block-badge-name Новинка
									div
										span.product-section__block-badge-name Италия
									div
										span.product-section__block-badge-name Акция
					- }
				// конец каталог товаров
				// seo текст
				.seo-text
					p.product__tab-content-block-title Конференц кресло CA1316C bm
					p Конференц кресло CA1316C bm матового черного цвета станет отличным выбором для оформления переговорной комнаты в классическом стиле. Эта модель каждой деталью заявляет о престиже окружающей обстановки и авторитетности самой компании.
					p При изготовлении офисного кресла использована эко кожа и массив древесины, – такие материалы сегодня считаются самыми лучшими в производстве мебели премиум класса. Эко кожа обладает множеством преимуществ перед натуральной кожей, к примеру, простотой в уходе, стойкостью к истиранию и растяжениям. 
					p Каркас конференц кресла, выполненный в виде боковых трапеций и перекладин, на которые опирается сиденье, изготовлен из массива древесины, благодаря чему изделие может «похвастаться» не только высокой прочностью, но и престижным видом.
					p.product__tab-content-block-seo-text Купить конференц кресло СА1316С bm: <a href="#!">Киев</a>, Донецк, Харьков, Днепропетровск, Луганск, <a href="#!">Одесса</a> и другие города Украины
				// конец seo текст