header.header
	// верхняя часть header
	.header__top
		.container
			.row
				.col-sm-6
					// меню
					ul.header__top-menu-list
						each item in headerMenu
							li.header__top-menu-item
								a.header__top-menu-link(href="#!") #{item}
					// конец меню
				.col-sm-6
					.row
						.col-sm-6
							// адрес
							.header__top-address-block
								p.header__top-address-text Киев, ул. Семьи Сосниных 3
								.header__top-address-hide
									p.header__top-address-text Пн. - Сб.: с 9:00 до 20:00
									p.header__top-address-text Вс.: 
										span.color-red Выходной
							// конец адрес
						.col-sm-6
							// телефоны
							.header__top-phone-block
								a.header__top-phone(href="tel:+38#{phone1}") #{phone1}
								a.header__top-phone(href="tel:+38#{phone2}") #{phone2}
							// конец телефоны
							// поиск
							a.header__top-search(href="#!")
							// конец 
	// конец верхняя часть header
	// нижняя часть header
	.header__bottom
		.container
			.row
				.col-sm-3
					a(href="/")
						img(src="img/logo.png", alt="Статус групп")
				.col-sm-7
					// меню каталога
					.header__bottom-menu
						ul.header__bottom-menu-list
							li.header__bottom-menu-item
								a.header__bottom-menu-link(href="#!") Офисная мебель
							li.header__bottom-menu-item
								a.header__bottom-menu-link(href="#!") Офисные кресла
							li.header__bottom-menu-item
								a.header__bottom-menu-link(href="#!") Стол и стул
					// конец меню каталога
				.col-sm-2
					// блок поиска
					.header__bottom-search
						a.header__bottom-search-btn(href="#!") 
					// конец блок поиска
					// блок корзины
					.header__bottom-basket
						a.header__bottom-basket-img-link(href="#!")
							span.header__bottom-basket-count 12
						p.header__bottom-basket-price.js-replace-number 12480 ₴
						a.header__bottom-basket-link(href="#!") Оформить
					// конец блок корзины
	// конец нижняя часть header