- if (modalProduct == true) {
	// окно выбора материала
	.md-modal.md-effect-2#modal-material
		.md-content
			p.md-title Выбор материала
			hr
			.container 
				.product__tab-content-block-prop.js-custom-scroll
					- for (z=1;z<=2; z++) {
						.product__tab-content-block-prop-title-wrap
							- if (z==1) {
								p.product__tab-content-block-prop-title Кожа Люкс
								p.product__tab-content-block-prop-price 520 ₴
							- } else {
								p.product__tab-content-block-prop-title Кожа не люкс
								p.product__tab-content-block-prop-price 100 ₴
							- }
						ul.product__tab-content-block-prop-list
							- for (k=1; k<=5; k++) {
								- for (i=1; i<=5; i++) {
									li.product__tab-content-block-prop-list-item
										img.product__tab-content-block-prop-list-img.js-material(src="img/content/m#{i}.jpg", alt="material" data-price="#{z == 1 ? 520 : 100}")
										p.product__tab-content-block-prop-list-name Серый #{20000 * i}
								- }
							- }
					- }
				hr
				.md-footer
					.md-footer__total-price
						span.md-footer__total-text Итого
						span.md-footer__total-price-val.js-material-price(data-price="0") 0
						span.md-footer__total-price-currency ₴
					button.btn.md-button(type="button") Применить
			button.md-close закрыть
	// конец окно выбора материала

	// выбор каркаса 
	.md-modal.md-effect-2#modal-frame
		.md-content
			p.md-title Выбор каркаса
			hr
			.container 
				.product__tab-content-block-prop.js-custom-scroll
					- for (z=1;z<=2; z++) {
						.product__tab-content-block-prop-title-wrap
							- if (z==1) {
								p.product__tab-content-block-prop-title Дерево
								p.product__tab-content-block-prop-price 333 ₴
							- } else {
								p.product__tab-content-block-prop-title Металл
								p.product__tab-content-block-prop-price 250 ₴
							- }
						ul.product__tab-content-block-prop-list
							- for (k=1; k<=5; k++) {
								- for (i=1; i<=5; i++) {
									li.product__tab-content-block-prop-list-item
										img.product__tab-content-block-prop-list-img.js-frame(src="img/content/m#{i}.jpg", alt="material" data-price="#{z == 1 ? 333 : 250}")
										p.product__tab-content-block-prop-list-name Серый #{20000 * i}
								- }
							- }
					- }
				hr
				.md-footer
					.md-footer__total-price
						span.md-footer__total-text Итого
						span.md-footer__total-price-val.js-frame-price(data-price="0") 0
						span.md-footer__total-price-currency ₴
					button.btn.md-button(type="button") Применить
			button.md-close закрыть
	// конец выбор каркаса 

	// попап с картой
	.md-modal.md-effect-2#modal-map
		.md-content
			p.md-title Склады
			.md-map-wrap
				#modalMap.map
			.m-b-5
				a.md-stock-address(href="javascript:void(0);") с. Чубинское, ул. Киевская, 55
			.m-b-5
				a.md-stock-address(href="javascript:void(0);") г. Киев, пер. Бондарский, 3
			.m-b-5
				a.md-stock-address(href="javascript:void(0);") г. Киев, ул. С.Скляренко, 13
			.m-b-5
				a.md-stock-address(href="javascript:void(0);") г. Киев, просп. Московский, 21
			button.md-close закрыть
		script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
		script.
			$(function(){
				function init() {
					var MapPlaces = new ymaps.Map('modalMap', {
						center: offices[0].center,
						zoom: 8,
						controls: ['zoomControl']
					});

					for (var i = 0, l = offices.length; i < l; i++) {
						createGroup(offices[i]);
					}

					function createGroup(office) {
						collection = new ymaps.GeoObjectCollection(null, {
							iconLayout: 'default#image',
							iconImageHref: 'img/marker.png',
							iconImageSize: [25, 33],
							iconImageOffset: [-10, -33]
						});

						MapPlaces.geoObjects.add(collection);

						for (var j = 0, m = office.address.length; j < m; j++) {
							createPlacemark(office.address[j], collection);
						}
					}

					function createPlacemark(item, collection) {
						placemark = new ymaps.Placemark(item.center, {
							balloonContent: item.contacts
						});

						collection.add(placemark);

					}

					// изменение города по клику на главной 
					$('.md-stock-address').on('click', function(){
						var city = $(this).html();
						for (var i = 0, l = offices.length; i < l; i++) {
							if (city == offices[i].city) {
								MapPlaces.panTo(offices[i].center, {
									delay: 1500
								});
							}
						}
					});

					MapPlaces.behaviors.disable('scrollZoom');
					MapPlaces.setBounds(MapPlaces.geoObjects);

				};

				var offices = [
					// ВАЖНО ПРОПИСЫВАТЬ названия 1 в 1
					{
						city: 'с. Чубинское, ул. Киевская, 55',
						center: [55.725045, 37.646961],
						address: [{
							center: [55.725045, 37.646961],
						}, ]
					}, {
						city: 'г. Киев, пер. Бондарский, 3',
						center: [59.934439, 30.301115],
						address: [{
							center: [59.934439, 30.301115],
						}, ]
					},
					{
						city: 'г. Киев, ул. С.Скляренко, 13',
						center: [53.277283, 83.532717],
						address: [{
							center: [53.277283, 83.532717],
						}, ]
					}, {
						city: 'г. Киев, просп. Московский, 21',
						center: [53.277283, 83.112717],
						address: [{
							center: [53.277283, 83.112717],
						}, ]
					}
				];

				ymaps.ready(init);

			});
	// конец попап с картой
- }